# -*- conf -*-
#
# After bumping these version pins, remove the requirements.txt file
# found in this directory, and then regenerate it with the command
# `pip-compile --generate-hashes --allow-unsafe`.  For best results,
# use the same version of Python to which the action defaults.

pip-tools==7.5.3
